// you can change colors here
$theme-color: #b01861;
@font-face {
    font-family: "SourceHansansCN-Medium";
    src: url(/assets/font/SOURCEHANSANSCN-MEDIUM.OTF);
}
@font-face {
    font-family: "SourceHanserifCN-Medium";
    src: url(/assets/font/SOURCEHANSERIFCN-MEDIUM.OTF);
}
$font-family:  "SourceHansansCN-Medium";
$font-family-heading: "SourceHanserifCN-Medium";
$font-family-mono:  "SourceHansansCN-Medium";
